In [167]:
import pandas as pd

In [142]:
#criação das colunas, os dados vem da posiçao incial e final
colspecs=[(2,10),
          (10,12),
          (12,24),
          (27,39),
          (56,69),
          (69,82),
          (82,95),
          (108,121),
          (152,170),
          (170,188)
          
]

names=['data_pregao','codbdi','sigls_acao','nome_acao','preco_abertura','preco_maximo','preco_minimo','preco_mercado','qtd_negocio','volume_negocio']
df=pd.read_fwf('/media/igor/Carlos G/arquivos bovespa/COTAHIST_A2020.TXT', colspecs=colspecs,names=names,skiprows=1)

In [143]:
df

,data_pregao,codbdi,sigls_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_mercado,qtd_negocio,volume_negocio
0,20200102,2.0,AALR3,ALLIAR,1829.0,1900.0,1828.0,1900.0,585800.0,1.094620e+09
1,20200102,2.0,AAPL34,APPLE,12000.0,12134.0,12000.0,12134.0,12700.0,1.533380e+08
2,20200102,2.0,ABCB4,ABC BRASIL,2000.0,2030.0,1982.0,2030.0,870400.0,1.745788e+09
3,20200102,2.0,ABEV3,AMBEV S/A,1886.0,1925.0,1878.0,1920.0,16011300.0,3.062348e+10
4,20200102,2.0,ADHM3,ADVANCED-DH,255.0,255.0,235.0,248.0,193400.0,4.719270e+07
...,...,...,...,...,...,...,...,...,...,...
1251642,20201230,82.0,YDUQN330,YDUQE FM,248.0,248.0,226.0,226.0,600.0,1.466000e+05
1251643,20201230,82.0,YDUQM340,YDUQE FM,183.0,190.0,183.0,190.0,6400.0,1.173300e+06
1251644,20201230,82.0,YDUQN340,YDUQE FM,291.0,291.0,286.0,286.0,7500.0,2.175000e+06
1251645,20201230,82.0,YDUQO330,YDUQE,285.0,285.0,270.0,270.0,1500.0,4.125000e+05
1251646,COTAHIST,0.2,020BOVESPA 2,123000001251,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
#para filtrar todos para llote padrao =2
df=df[df['codbdi']==2]
df

,data_pregao,codbdi,sigls_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_mercado,qtd_negocio,volume_negocio
0,20200102,2.0,AALR3,ALLIAR,1829.0,1900.0,1828.0,1900.0,585800.0,1.094620e+09
1,20200102,2.0,AAPL34,APPLE,12000.0,12134.0,12000.0,12134.0,12700.0,1.533380e+08
2,20200102,2.0,ABCB4,ABC BRASIL,2000.0,2030.0,1982.0,2030.0,870400.0,1.745788e+09
3,20200102,2.0,ABEV3,AMBEV S/A,1886.0,1925.0,1878.0,1920.0,16011300.0,3.062348e+10
4,20200102,2.0,ADHM3,ADVANCED-DH,255.0,255.0,235.0,248.0,193400.0,4.719270e+07
...,...,...,...,...,...,...,...,...,...,...
294499,20201228,2.0,Z1TO34,ZTO EXPRESS,3672.0,3672.0,3672.0,3672.0,30.0,1.358600e+05
294500,20201229,2.0,Z1TO34,ZTO EXPRESS,3631.0,3631.0,3631.0,3631.0,100.0,3.631000e+05
294501,20201230,2.0,Z1TO34,ZTO EXPRESS,3809.0,3809.0,3750.0,3750.0,60.0,2.295100e+05
294502,20201223,2.0,Z1TS34,ZOETIS INC,20918.0,20918.0,20918.0,20918.0,50.0,1.045900e+06
294503,20201228,2.0,Z1TS34,ZOETIS INC,21214.0,21359.0,21214.0,21359.0,0.0,4.257000e+04

In [145]:
# deletar a coluna que não precisa mais, lembrar de colocar axis
df=df.drop(['codbdi'],axis=1)

In [146]:
df

,data_pregao,sigls_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_mercado,qtd_negocio,volume_negocio
0,20200102,AALR3,ALLIAR,1829.0,1900.0,1828.0,1900.0,585800.0,1.094620e+09
1,20200102,AAPL34,APPLE,12000.0,12134.0,12000.0,12134.0,12700.0,1.533380e+08
2,20200102,ABCB4,ABC BRASIL,2000.0,2030.0,1982.0,2030.0,870400.0,1.745788e+09
3,20200102,ABEV3,AMBEV S/A,1886.0,1925.0,1878.0,1920.0,16011300.0,3.062348e+10
4,20200102,ADHM3,ADVANCED-DH,255.0,255.0,235.0,248.0,193400.0,4.719270e+07
...,...,...,...,...,...,...,...,...,...
294499,20201228,Z1TO34,ZTO EXPRESS,3672.0,3672.0,3672.0,3672.0,30.0,1.358600e+05
294500,20201229,Z1TO34,ZTO EXPRESS,3631.0,3631.0,3631.0,3631.0,100.0,3.631000e+05
294501,20201230,Z1TO34,ZTO EXPRESS,3809.0,3809.0,3750.0,3750.0,60.0,2.295100e+05
294502,20201223,Z1TS34,ZOETIS INC,20918.0,20918.0,20918.0,20918.0,50.0,1.045900e+06
294503,20201228,Z1TS34,ZOETIS INC,21214.0,21359.0,21214.0,21359.0,0.0,4.257000e+04

In [147]:
#ajuste do campo de data
df['data_pregao']= pd.to_datetime(df['data_pregao'],format='%Y%m%d')

In [148]:
df

,data_pregao,sigls_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_mercado,qtd_negocio,volume_negocio
0,2020-01-02,AALR3,ALLIAR,1829.0,1900.0,1828.0,1900.0,585800.0,1.094620e+09
1,2020-01-02,AAPL34,APPLE,12000.0,12134.0,12000.0,12134.0,12700.0,1.533380e+08
2,2020-01-02,ABCB4,ABC BRASIL,2000.0,2030.0,1982.0,2030.0,870400.0,1.745788e+09
3,2020-01-02,ABEV3,AMBEV S/A,1886.0,1925.0,1878.0,1920.0,16011300.0,3.062348e+10
4,2020-01-02,ADHM3,ADVANCED-DH,255.0,255.0,235.0,248.0,193400.0,4.719270e+07
...,...,...,...,...,...,...,...,...,...
294499,2020-12-28,Z1TO34,ZTO EXPRESS,3672.0,3672.0,3672.0,3672.0,30.0,1.358600e+05
294500,2020-12-29,Z1TO34,ZTO EXPRESS,3631.0,3631.0,3631.0,3631.0,100.0,3.631000e+05
294501,2020-12-30,Z1TO34,ZTO EXPRESS,3809.0,3809.0,3750.0,3750.0,60.0,2.295100e+05
294502,2020-12-23,Z1TS34,ZOETIS INC,20918.0,20918.0,20918.0,20918.0,50.0,1.045900e+06
294503,2020-12-28,Z1TS34,ZOETIS INC,21214.0,21359.0,21214.0,21359.0,0.0,4.257000e+04

In [149]:
# AJUSTE DOS CAMPOS NUMERICOS PARA DUSA CASAS DECIMAIS
df['preco_abertura']=(df['preco_abertura']/100).astype(float)
df['preco_maximo']=(df['preco_maximo']/100).astype(float)
df['preco_minimo']=(df['preco_minimo']/100).astype(float)
df['preco_mercado']=(df['preco_mercado']/100).astype(float)

In [150]:
df

,data_pregao,sigls_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_mercado,qtd_negocio,volume_negocio
0,2020-01-02,AALR3,ALLIAR,18.29,19.00,18.28,19.00,585800.0,1.094620e+09
1,2020-01-02,AAPL34,APPLE,120.00,121.34,120.00,121.34,12700.0,1.533380e+08
2,2020-01-02,ABCB4,ABC BRASIL,20.00,20.30,19.82,20.30,870400.0,1.745788e+09
3,2020-01-02,ABEV3,AMBEV S/A,18.86,19.25,18.78,19.20,16011300.0,3.062348e+10
4,2020-01-02,ADHM3,ADVANCED-DH,2.55,2.55,2.35,2.48,193400.0,4.719270e+07
...,...,...,...,...,...,...,...,...,...
294499,2020-12-28,Z1TO34,ZTO EXPRESS,36.72,36.72,36.72,36.72,30.0,1.358600e+05
294500,2020-12-29,Z1TO34,ZTO EXPRESS,36.31,36.31,36.31,36.31,100.0,3.631000e+05
294501,2020-12-30,Z1TO34,ZTO EXPRESS,38.09,38.09,37.50,37.50,60.0,2.295100e+05
294502,2020-12-23,Z1TS34,ZOETIS INC,209.18,209.18,209.18,209.18,50.0,1.045900e+06
294503,2020-12-28,Z1TS34,ZOETIS INC,212.14,213.59,212.14,213.59,0.0,4.257000e+04

In [151]:
df.dtypes

data_pregao       datetime64[ns]
sigls_acao                object
nome_acao                 object
preco_abertura           float64
preco_maximo             float64
preco_minimo             float64
preco_mercado            float64
qtd_negocio              float64
volume_negocio           float64
dtype: object

# transformando em função

In [199]:
def read_files(path, name_file,year_date, type_file):  
    _file= f'{path}{name_file}{year_date}.{type_file}'
    colspecs=[(2,10), (10,12),(12,24),(27,39),(56,69),(69,82),(82,95),(108,121),(152,170),(170,188)]
    names=['data_pregao','codbdi','sigls_acao','nome_acao','preco_abertura','preco_maximo','preco_minimo','preco_mercado','qtd_negocio','volume_negocio']
    df=pd.read_fwf(_file, colspecs=colspecs,names=names,skiprows=1)
    
    return df

In [200]:
def filter_docks(df):
    df=df[df['codbdi']==2]
    df=df.drop(['codbdi'],axis=1)
    
    return df

In [201]:
def parse_date(df):
    df['data_pregao']= pd.to_datetime(df['data_pregao'],format='%Y%m%d')
    
    return df

In [202]:
def parse_values(df):
    df['preco_abertura']=(df['preco_abertura']/100).astype(float)
    df['preco_maximo']=(df['preco_maximo']/100).astype(float)
    df['preco_minimo']=(df['preco_minimo']/100).astype(float)
    df['preco_mercado']=(df['preco_mercado']/100).astype(float)
    
    return df

In [203]:
def concat_file(path , name_file, year_date,type_file,final_file):
    for i, y in enumerate( year_date):
        df=read_files(path,name_file,y,type_file)
        df=filter_docks(df)
        df=parse_date(df)
        df=parse_values(df)
        
        if i==0:
            df_final=df
        else:
            df_final= pd.concat([final_file, df])
            
    df_final.to_csv(f'{path}//{final_file}', index = False)

In [208]:
#executando programa ETL e gerando um arquivo csv

year_date=['2020','2023']
path= f'/media/igor/Carlos G/arquivos bovespa'
name_file='COTAHIST_A'
type_file='txt'
final_file='all_bovespa.csv'


concat_file(path,name_file,year_date,type_file, final_file)